<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Love Hotel
		link(rel="shortcut icon" href="build/images/favicon.ico" type="image/x-icon")
		link(media="all", rel="stylesheet", href="build/vendor.css")
		link(media="all", rel="stylesheet", href="build/app.css")
	body
		- var menus = [{text: 'Об отеле', link: '#about-hotel'}, {text: 'Номера', link: '#rooms' }, {text: 'Удобства и услуги', link: '#services'}, {text: 'Условия проживания', link: '#accommodations'}, {text: 'Контакты', link: '#contacts'}];
		- var logo = "<span>Love</span> Отель";
		- var about = "Новейший отель европейского класса с комфортабельными дизайнерскими номерами! Построенный в 2016 году и впервые открывающий двери для своих гостей сейчас!";
		.wrapper
			header.header
				.navbar
					.container
						.navbar-header
								button(type="button", class="navbar-toggle collapsed", data-toggle="collapse",data-target="#navbar", aria-expanded="false")
									span.sr-only Toggle navigation
									span.icon-bar
									span.icon-bar
									span.icon-bar
								a(href="#" class="navbar-brand") !{logo.toUpperCase()}
						#navbar.collapse.navbar-collapse
							ul.nav.navbar-nav.navbar-right
								each list in menus
									li
										a.nav__link(href=list.link, role="button" aria-haspopup="true" aria-expanded="false")= list.text.toUpperCase()
			div.info
				.container
					span.adress 
						i.fa.fa-map-marker.fa-2x
						a(href="https://goo.gl/maps/qVknwQQqAfm" class="adress__link" target="_blank") Украина, г.Харьков
					span.phones
						i.fa.fa-phone.fa-2x
						a(href="tel:+380950170820" class="phones__link") (095) 01-70-820
						a(href="tel:+380684612773" class="phones__link") (068) 46-12-773




			section.section.section--red.section--about.section--padding
				.container
					.row
						.col-xs-12.col-md-6
							article.about.js-margin
								h1.h2.about__title.text-uppercase &quot;!{logo}&quot; -
								p.h4.about__text.text-uppercase=about
								a(href="javascript:void(0);" class="btn btn-default btn-large about__btn js-btn-modal") #{'Забронировать номер'.toUpperCase()}
						.col-xs-12.col-md-6
							img.about__img.img-responsive(src='build/images/glavnaja.jpg', alt='Love Hotel')





			section#about-hotel.section.section--white.section--destiny.section--padding
				.container
					.row
						.col-xs-12.col-md-6.col-md-push-6
							.destiny
								.destiny__box.animated.animated--opacity
									p.h2.text-danger ЧТО?
									p.destiny__text 46 двухместных номеров в комортабельном отеле еврокласса, с кроватями размера «king size», собственной кухней и огромными зеркалами!
								.destiny__box.animated.animated--opacity
									p.h2.text-danger ГДЕ?
									p.destiny__text В 10-ти минутах от центра города! Рядом есть множество магазинов, супермаркетов, торговый и развлекательный центры!
								.destiny__box.animated.animated--opacity
									p.h2.text-danger КОМУ?
									p.destiny__text Для самых требовательных гостей, ценящих комфортный отдых и качественное обслуживание; для желающих остановиться на короткий срок и на время длительных командировок!
						.col-xs-12.col-md-6.col-md-pull-6
							img.destiny__img.animated.animated--opacity.img-responsive(src='build/images/koridor.jpg', alt='Love Hotel')





			section.section.section--gray.section--benefits.section--padding
				.container
					h2.text-uppercase.text-center Если выбирать - только «Love&nbsp;отель»!
					.row
						.col-xs-12.col-md-4
							.benefits__box.text-center
								span.benefits__img.benefits__img--price.animated
								p.h3.text-uppercase ДОСТУПНЫЕ ЦЕНЫ
								p.benefits__text «Love отель» предоставляет комфортные условия проживания на европейском уровне по демократичным ценам!
						.col-xs-12.col-md-4
							.benefits__box.text-center
								span.benefits__img.benefits__img--confident.animated
								p.h3.text-uppercase КОНФИДЕНЦИАЛЬНОСТЬ
								p.benefits__text Персонал отеля уважает Ваше право на конфиденциальность и не преследует цели использовать информацию, содержащую Ваши личные данные!
						.col-xs-12.col-md-4
							.benefits__box.text-center
								span.benefits__img.benefits__img--speak.animated
								p.h3.text-uppercase МЫ ГОВОРИМ НА:
								p.benefits__text украинском, русском и 
									br
									|английском языках!



			section.section.section--white.section--schedule.text-white.section--padding
				.container
					.row
						.col-xs-12.col-md-8.col-md-offset-2
							h3.text-uppercase.text-center.text-shadow вы можете снять 
								span.h1 номера почасово, посуточно, 
								|понедельно, помесячно!
							.schedule.section--red.text-center
								.row
									.col-xs-12.col-md-6
										span.schedule__img.schedule__img--time
										p.schedule__text Круглосуточная работа стойки регистрации с администратором! Персонал отеля с радостью выполнит все Ваши пожелания в любое время суток!
									.col-xs-12.col-md-6
										span.schedule__img.schedule__img--room
										p.schedule__text двухместных дизайнерских номеров еврокласса с собственной кухней к услугам гостей в «Love&nbsp;отеле»!
									.col-xs-12
										p.h3.text-uppercase В номере большие кровати и зеркала!


			section#rooms.section.section--white.section--room
				.container
					h2.text-uppercase.text-center Номера
					.row
						.col-xs-12.col-md-6
							.swiper-container.gallery-top.topOne.animated.animated--opacity
								.swiper-wrapper
									img.swiper-slide(src='build/images/red_room/love-hotel-1.jpg', alt='Love Hotel')
									img.swiper-slide(src='build/images/red_room/love-hotel-2.jpg', alt='Love Hotel')
									img.swiper-slide(src='build/images/red_room/love-hotel-3.jpg', alt='Love Hotel')
									img.swiper-slide(src='build/images/red_room/love-hotel-4.jpg', alt='Love Hotel')

								.swiper-button-prev.swiper-button-white
								.swiper-button-next.swiper-button-white

								.swiper-container.gallery-thumbs.thumbsOne
									.swiper-wrapper
										img.swiper-slide(src='build/images/red_room/love-hotel-1.jpg', alt='Love Hotel')
										img.swiper-slide(src='build/images/red_room/love-hotel-2.jpg', alt='Love Hotel')
										img.swiper-slide(src='build/images/red_room/love-hotel-3.jpg', alt='Love Hotel')
										img.swiper-slide(src='build/images/red_room/love-hotel-4.jpg', alt='Love Hotel')
						.col-xs-12.col-md-6
							.description__box.text-justify.animated.animated--opacity
								p.h2 RED ROOM
								p.description__text Изысканный номер класса люкс с огромной двухспальной кроватью размера king-size, выполненный в красных тонах, для самых требовательных гостей! С кондиционером, бесплатным Wi-Fi и мини-кухней с микроволновой печью и холодильником. 
								p.description__text Ванная комната укомплектована расширенным набором косметических принадлежностей. Гостям ежедневно предлагаются 2 бутылки минеральной воды.
								p.description__text В стоимость входит увеличенный номер, уборка 1 раз в 3 дня и пользование всем, что находится в номере. Парковка, мини-бар, кухонные принадлежности и др. за дополнительную оплату.
								p.description__text Размещение свыше двух человек обсуждается в индивидуальном порядке.

								p.capacity ВМЕСТИМОСТЬ: 2 человека

								.filling.filling--redRoom
									- var n = 1;
									ul.filling__box.list-unstyled.list-inline
										while n < 10
											li(class='filling__icon filling__icon--' + n++)
								.row
									.col-xs-12.col-sm-5
										span.filling__price 1100 грн/сутки
									.col-xs-12.col-sm-7
										.btn.btn-danger.btn-large.btn-block.text-uppercase.js-btn-modal Забронировать номер


					.row
						.col-xs-12.col-md-6.col-md-push-6
							.swiper-container.gallery-top.topTwo.animated.animated--opacity
								.swiper-wrapper
									img.swiper-slide(src='build/images/standard_improved/love-hotel-1.jpg', alt='Love Hotel')
									img.swiper-slide(src='build/images/standard_improved/love-hotel-2.jpg', alt='Love Hotel')
									img.swiper-slide(src='build/images/standard_improved/love-hotel-3.jpg', alt='Love Hotel')
									img.swiper-slide(src='build/images/standard_improved/love-hotel-4.jpg', alt='Love Hotel')

								.swiper-button-prev.swiper-button-white
								.swiper-button-next.swiper-button-white

								.swiper-container.gallery-thumbs.thumbsTwo
									.swiper-wrapper
										img.swiper-slide(src='build/images/standard_improved/love-hotel-1.jpg', alt='Love Hotel')
										img.swiper-slide(src='build/images/standard_improved/love-hotel-2.jpg', alt='Love Hotel')
										img.swiper-slide(src='build/images/standard_improved/love-hotel-3.jpg', alt='Love Hotel')
										img.swiper-slide(src='build/images/standard_improved/love-hotel-4.jpg', alt='Love Hotel')
						.col-xs-12.col-md-6.col-md-pull-6
							.description__box.text-justify.animated.animated--opacity
								p.h2 СТАНДАРТ УЛУЧШЕННЫЙ
								p.description__text Стильный номер с огромной двухспальной кроватью размера king-size, с кондиционером, бесплатным Wi-Fi и мини-кухней с микроволновой печью и холодильником.
								p.description__text Ванная комната укомплектована расширенным набором косметических принадлежностей. Гостям ежедневно предлагаются 2 бутылки минеральной воды.
								p.description__text В стоимость входит увеличенный номер, уборка 1 раз в 3 дня и пользование всем, что находится в номере. Парковка, мини-бар, кухонные принадлежности и др. за дополнительную оплату.
								p.description__text Размещение свыше двух человек обсуждается в индивидуальном порядке.



								p.capacity ВМЕСТИМОСТЬ: 2 человека

								.filling.filling--redRoom
									- var n = 1;
									ul.filling__box.list-unstyled.list-inline
										while n < 10
											li(class='filling__icon filling__icon--' + n++)
								.row
									.col-xs-12.col-sm-5 
										span.filling__price 580 грн/сутки
									.col-xs-12.col-sm-7
										.btn.btn-danger.btn-large.btn-block.text-uppercase.js-btn-modal Забронировать номер


					.row
						.col-xs-12.col-md-6
							.swiper-container.gallery-top.topThree.animated.animated--opacity
								.swiper-wrapper
									img.swiper-slide(src='build/images/standart/love-hotel-1.jpg', alt='Love Hotel')
									img.swiper-slide(src='build/images/standart/love-hotel-2.jpg', alt='Love Hotel')
									img.swiper-slide(src='build/images/standart/love-hotel-3.jpg', alt='Love Hotel')
									img.swiper-slide(src='build/images/standart/love-hotel-4.jpg', alt='Love Hotel')

								.swiper-button-prev.swiper-button-white
								.swiper-button-next.swiper-button-white

								.swiper-container.gallery-thumbs.thumbsThree
									.swiper-wrapper
										img.swiper-slide(src='build/images/standart/love-hotel-1.jpg', alt='Love Hotel')
										img.swiper-slide(src='build/images/standart/love-hotel-2.jpg', alt='Love Hotel')
										img.swiper-slide(src='build/images/standart/love-hotel-3.jpg', alt='Love Hotel')
										img.swiper-slide(src='build/images/standart/love-hotel-4.jpg', alt='Love Hotel')
						.col-xs-12.col-md-6
							.description__box.text-justify.animated.animated--opacity
								p.h2 СТАНДАРТ
								p.description__text Просторный номер с большой двухспальной кроватью, кондиционером, бесплатным Wi-Fi и мини-кухней с микроволновой печью и холодильником.
								p.description__text Ванная комната укомплектована расширенным набором косметических принадлежностей. Гостям ежедневно предлагаются 2 бутылки минеральной воды.
								p.description__text В стоимость номера входит уборка 1 раз в 3 дня и пользование всем, что находится в номере. Парковка, мини-бар, кухонные принадлежности и др. за дополнительную оплату.
								p.description__text Размещение свыше двух человек обсуждается в индивидуальном порядке.


								p.capacity ВМЕСТИМОСТЬ: 2 человека

								.filling.filling--redRoom
									- var n = 1;
									ul.filling__box.list-unstyled.list-inline
										while n < 8
											li(class='filling__icon filling__icon--' + n++)
								.row
									.col-xs-12.col-sm-5 
										span.filling__price 470 грн/сутки
									.col-xs-12.col-sm-7
										.btn.btn-danger.btn-large.btn-block.text-uppercase.js-btn-modal Забронировать номер



			section#accommodations.section.section--white.section--regulations.text-white
				.container
					.row
						.col-xs-12.col-md-10.col-md-offset-1
							h2.text-uppercase.text-center.text-shadow правила проживания
							p.regulations__title.text-center.text-shadow Уважаемые гости! Мы рады приветствовать Вас в нашем отеле! 
								br
								|Пожалуйста, внимательно ознакомьтесь с правилами проживания.
							.regulations.section--gray.text-center
								dl.dl-horizontal
									dt.text-danger ЗАЕЗД:
									dd С 12:00

									dt.text-danger ОТЪЕЗД:
									dd С 13:00

									dt.text-danger УСЛОВИЯ 
										br
										|ОПЛАТЫ:
									dd При вселении в отель, постоялец оплачивает стоимость номера минимум за одни сутки вперед. Дополнительные услуги могут быть оплачены при выселение в конце проживания.
									dd В случае не заселения оплата за бронь не возвращается.


									dt.text-danger ДОМАШНИЕ 
										br
										|ЖИВОТНЫЕ:
									dd Размещение домашних животных в отеле возможно по предварительному согласию у администратора.

									dt.text-danger БРОНИРОВАНИЕ/ 
										br
										|РЕГИСТРАЦИЯ:
									dd В отеле предусмотрена круглосуточная стойка регистрации.
										br
										|Бронирование номеров отеля производится круглосуточно.






								.row
									.col-xs-12
										span.h3.text-uppercase.text-black.js-btn-modal Забронировать номер можно по 
										ul.contact-app.list-unstyled.list-inline
											li.contact-app__box
												a.contact-app__link(href="mailto:ApartOtel.VG@gmail.com")
											li.contact-app__box
												a.contact-app__link(href="viber://add?number=380950170820")
											li.contact-app__box
												a.contact-app__link(href="https://api.whatsapp.com/send?phone=380950170820" target="_blank")
											li.contact-app__box.hidden
												a.contact-app__link(href="tg://resolve?domain=hotel_VorobGoru" target="_blank")
									.col-xs-12
										span.h3.text-uppercase.text-black по телефону 
											a.phone-number(href="tel:+380965124957") 096-512-49-57
									.col-xs-12
										.btn.btn-danger.btn-large.btn-margin-top.text-uppercase.js-more Больше информации
											i.fa.fa-times.btn-icon-close.hidden
											i.fa.fa-chevron-down.btn-icon

							.more
								.row
									.col-xs-12.col-sm-6
										ul.list-unstyled.more-info.more-info--even
											li.more-info--even__list Для заселения необходимы документы, удостоверяющие личность
											li.more-info--even__list Перед выселением постоялец обязан уведомить администратора.
											li.more-info--even__list Постояльцы отеля и посетители могут воспользоваться дополнительными услугами отеля.
											li.more-info--even__list Уходя из номера, отдавайте ключ администратору. Администрация отеля не несет ответственность за Ваше личное имущество, оставленное в номерах. 
											li.more-info--even__list Администрация отеля вправе отказать в обслуживании Гостю, находящемуся в состоянии алкогольного или наркотического опьянения.

									.col-xs-12.col-sm-6
										ul.list-unstyled.more-info.more-info--odd
											li.more-info--odd__list Собственный ключ от номера при поселении
											li.more-info--odd__list Размещение гостей в номере  после 21:00 оплачиваются дополнительно у администратора
											li.more-info--odd__list При повреждении или утрате имущества отеля, предоставленного во временное пользование, необходимо возместить его стоимость у администратора. 
											li.more-info--odd__list На территории отеля запрещено курение, употребление и хранение  наркотиков, а также предметов и веществ, угрожающих жизни и здоровью граждан. 
											li.more-info--odd__list С 22:00 до 08:00 в отеле установлен режим тишины.

			footer.footer.section--padding
				.container
					h2.h1.text-center.text-uppercase Контакты
					.row
						.col-xs-12.col-md-4
							.footer__box.text-center
								span.footer__icon.footer__icon--adress
								span.h2.footer__title.text-uppercase Адрес
								span.footer__text Украина г. Харьков
						.col-xs-12.col-md-4
							.footer__box.text-center
								span.footer__icon.footer__icon--phone
								span.h2.footer__title.text-uppercase Телефон
								a.text-white(href="tel:+380950170820") (095) 01-70-820
								br
								a.text-white(href="tel:+380684612773") (068) 46-12-773
						.col-xs-12.col-md-4
							.footer__box.text-center
								span.footer__icon.footer__icon--email
								span.h2.footer__title.text-uppercase e-mail
								a.text-white(href="mailto:apart.otel.ua@gmail.com") apart.otel.ua@gmail.com

			.container
				.back-to-top#contacts
					.heart








		.background
		.container
			.row
				.modalbox.form.col-sm-8.col-md-6.col-lg-5.center.animate
					.icon
						span.fa.fa-keyboard-o
					p.h1 Введите Ваши данные!
					form#application.form-signin
						label
							input.form-control(type="email" name="email" placeholder="Ваш Email!" required="")
						label
							input.form-control(type="text" name="phone" placeholder="Ваш телефон!" required="")
						button(type="submit" class="form-control redo btn" form="application") Отправить заявку
			.row
				.modalbox.success.col-sm-8.col-md-6.col-lg-5.center.animate
					.icon
						span.fa.fa-check
					p.h1 Поздравляем!
					p Ваша заявка успешно 
						br
						|отправлена.
					button(type="button" class="redo btn btn-ok") Ok
			.row
				.modalbox.error.col-sm-8.col-md-6.col-lg-5.center.animate
					.icon
						span.fa.fa-thumbs-o-down
					p.h1 Заполнены не все поля!
					p Вы желаете 
						br
						|продолжить.
					button(type="button" class="redo btn js-btn-modal") Еще раз!







		script(src="build/vendor.js")
		script(src="build/app.js")
		script(src="http://localhost:35729/livereload.js?snipver=1")