<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Sliceart
		link(rel="shortcut icon" href="build/images/favicon.ico" type="image/x-icon")
		link(media="all", rel="stylesheet", href="build/vendor.css")
		link(media="all", rel="stylesheet", href="build/app.css")
	body
		- var menus = [{text: 'Об отеле', link: '#about-hotel'}, {text: 'Номера', link: '#rooms' }, {text: 'Удобства и услуги', link: '#services'}, {text: 'Условия проживания', link: '#accommodations'}, {text: 'Контакты', link: '#contacts'}];
		- var logo = "<span>Love</span> Отель";
		- var about = "Новейший отель европейского класса с комфортабельными дизайнерскими номерами! Построенный в 2016 году и впервые открывающий двери для своих гостей сейчас!";
		.wrapper
			header.header
				.navbar
					.container
						.navbar-header
								button(type="button", class="navbar-toggle collapsed", data-toggle="collapse",data-target="#bsnav", aria-expanded="false")
									span.sr-only Toggle navigation
									span.icon-bar
									span.icon-bar
									span.icon-bar
								a(href="#" class="navbar-brand") !{logo.toUpperCase()}
						.collapse.navbar-collapse
							ul.nav.navbar-nav.navbar-right
								each list in menus
									li
										a.nav__link(href=list.link, role="button" aria-haspopup="true" aria-expanded="false")= list.text.toUpperCase()
			div
				.info
					.container
						.text-right
							span.adress 
								i.fa.fa-map-marker.fa-2x
								a(href="https://goo.gl/maps/qVknwQQqAfm" class="adress__link" target="_blank") Украина, г.Харьков
							span.phones
								i.fa.fa-phone.fa-2x
								a(href="tel:+380950170820" class="phones__link") (095) 01-70-820
								a(href="tel:+380684612773" class="phones__link") (068) 46-12-773




			section.section.section--red.section--about.section--padding
				.container
					.row
						.col-xs-12.col-md-6.clearfix
							article.about.js-margin
								h1.h2.about__title "!{logo.toUpperCase()}" -
								p.h4.about__text=about.toUpperCase()
								a(href="javascript:void(0)" class="btn btn-default btn-large about__btn js-btn-modal") #{'Забронировать номер'.toUpperCase()}
						.col-xs-12.col-md-6.clearfix
							img.about__img.img-responsive(src='build/images/glavnaja.jpg', alt='Love Hotel')





			section.section.section--white.section--destiny.section--padding
				.container
					.row
						.col-xs-12.col-md-6
							img.destiny__img.img-responsive(src='build/images/koridor.jpg', alt='Love Hotel')
						.col-xs-12.col-md-6
							.destiny
								.destiny__box
									p.h2.text-danger ЧТО?
									p.destiny__text 46 двухместных номеров в комортабельном отеле еврокласса, с кроватями размера «king size», собственной кухней и огромными зеркалами!
								.destiny__box
									p.h2.text-danger ГДЕ?
									p.destiny__text В 10-ти минутах от центра города! Рядом есть множество магазинов, супермаркетов, торговый и развлекательный центры!
								.destiny__box
									p.h2.text-danger КОМУ?
									p.destiny__text Для самых требовательных гостей, ценящих комфортный отдых и качественное обслуживание; для желающих остановиться на короткий срок и на время длительных командировок!





			section.section.section--gray.section--benefits.section--padding
				.container
					h2.text-uppercase.text-center Если выбирать - только «Love&nbsp;отель»!
					.row
						.col-xs-12.col-md-4
							.benefits__box.text-center
								span.benefits__img.benefits__img--price
								p.h3.text-uppercase ДОСТУПНЫЕ ЦЕНЫ
								p.benefits__text «Love отель» предоставляет комфортные условия проживания на европейском уровне по демократичным ценам!
						.col-xs-12.col-md-4
							.benefits__box.text-center
								span.benefits__img.benefits__img--confident
								p.h3.text-uppercase КОНФИДЕНЦИАЛЬНОСТЬ
								p.benefits__text Персонал отеля уважает Ваше право на конфиденциальность и не преследует цели использовать информацию, содержащую Ваши личные данные!
						.col-xs-12.col-md-4
							.benefits__box.text-center
								span.benefits__img.benefits__img--speak
								p.h3.text-uppercase МЫ ГОВОРИМ НА:
								p.benefits__text украинском, русском и 
									br
									|английском языках!



			section.section.section--white.section--schedule.text-white.section--padding
				.container
					.row
						.col-xs-12.col-md-8.col-md-offset-2
							h3.text-uppercase.text-center.text-shadow вы можете снять 
								span.h1 номера почасово, посуточно, 
								|понедельно, помесячно!
							.schedule.section--red.text-center
								.row
									.col-xs-12.col-md-6
										span.schedule__img.schedule__img--time
										p.schedule__text Круглосуточная работа стойки регистрации с администратором! Персонал отеля с радостью выполнит все Ваши пожелания в любое время суток!
									.col-xs-12.col-md-6
										span.schedule__img.schedule__img--room
										p.schedule__text двухместных дизайнерских номеров еврокласса с собственной кухней к услугам гостей в «Love&nbsp;отеле»!
									.col-xs-12
										p.h3.text-uppercase В номере большие кровати и зеркала!


			section.section.section--white.section--room
				.container
					h2.text-uppercase.text-center Номера
					.row
						.col-xs-12.col-md-6
							.swiper-container.gallery-top.topOne
								.swiper-wrapper
									img.swiper-slide(src='build/images/red_room/love-hotel-1.jpg', alt='Love Hotel')
									img.swiper-slide(src='build/images/red_room/love-hotel-2.jpg', alt='Love Hotel')
									img.swiper-slide(src='build/images/red_room/love-hotel-3.jpg', alt='Love Hotel')
									img.swiper-slide(src='build/images/red_room/love-hotel-4.jpg', alt='Love Hotel')

								.swiper-button-prev.swiper-button-white
								.swiper-button-next.swiper-button-white

								.swiper-container.gallery-thumbs.thumbsOne
									.swiper-wrapper
										img.swiper-slide(src='build/images/red_room/love-hotel-1.jpg', alt='Love Hotel')
										img.swiper-slide(src='build/images/red_room/love-hotel-2.jpg', alt='Love Hotel')
										img.swiper-slide(src='build/images/red_room/love-hotel-3.jpg', alt='Love Hotel')
										img.swiper-slide(src='build/images/red_room/love-hotel-4.jpg', alt='Love Hotel')
						.col-xs-12.col-md-6
							.description__box.text-justify
								p.h2 RED ROOM
								p.description__text Изысканный номер класса люкс с огромной двухспальной кроватью размера king-size, выполненный в красных тонах, для самых требовательных гостей! С кондиционером, бесплатным Wi-Fi и мини-кухней с микроволновой печью и холодильником. 
								p.description__text Ванная комната укомплектована расширенным набором косметических принадлежностей. Гостям ежедневно предлагаются 2 бутылки минеральной воды.
								p.description__text В стоимость входит увеличенный номер, уборка 1 раз в 3 дня и пользование всем, что находится в номере. Парковка, мини-бар, кухонные принадлежности и др. за дополнительную оплату.
								p.description__text Размещение свыше двух человек обсуждается в индивидуальном порядке.

								p.capacity ВМЕСТИМОСТЬ: 2 человека

								.filling.filling--redRoom
									- var n = 1;
									ul.list-unstyled.list-inline
										while n < 10
											li(class='filling__icon filling__icon--' + n++)
								.row
									.col-xs-5 
										span.filling__price 1100 грн/сутки
									.col-xs-7
										.btn.btn-danger.btn-large.btn-block.text-uppercase.js-btn-modal Забронировать номер


					.row
						.col-xs-12.col-md-6
							.description__box.text-justify
								p.h2 СТАНДАРТ УЛУЧШЕННЫЙ
								p.description__text Стильный номер с огромной двухспальной кроватью размера king-size, с кондиционером, бесплатным Wi-Fi и мини-кухней с микроволновой печью и холодильником.
								p.description__text Ванная комната укомплектована расширенным набором косметических принадлежностей. Гостям ежедневно предлагаются 2 бутылки минеральной воды.
								p.description__text В стоимость входит увеличенный номер, уборка 1 раз в 3 дня и пользование всем, что находится в номере. Парковка, мини-бар, кухонные принадлежности и др. за дополнительную оплату.
								p.description__text Размещение свыше двух человек обсуждается в индивидуальном порядке.



								p.capacity ВМЕСТИМОСТЬ: 2 человека

								.filling.filling--redRoom
									- var n = 1;
									ul.list-unstyled.list-inline
										while n < 10
											li(class='filling__icon filling__icon--' + n++)
								.row
									.col-xs-5 
										span.filling__price 580 грн/сутки
									.col-xs-7
										.btn.btn-danger.btn-large.btn-block.text-uppercase.js-btn-modal Забронировать номер

						.col-xs-12.col-md-6
							.swiper-container.gallery-top.topTwo
								.swiper-wrapper
									img.swiper-slide(src='build/images/standard_improved/love-hotel-1.jpg', alt='Love Hotel')
									img.swiper-slide(src='build/images/standard_improved/love-hotel-2.jpg', alt='Love Hotel')
									img.swiper-slide(src='build/images/standard_improved/love-hotel-3.jpg', alt='Love Hotel')
									img.swiper-slide(src='build/images/standard_improved/love-hotel-4.jpg', alt='Love Hotel')

								.swiper-button-prev.swiper-button-white
								.swiper-button-next.swiper-button-white

								.swiper-container.gallery-thumbs.thumbsTwo
									.swiper-wrapper
										img.swiper-slide(src='build/images/standard_improved/love-hotel-1.jpg', alt='Love Hotel')
										img.swiper-slide(src='build/images/standard_improved/love-hotel-2.jpg', alt='Love Hotel')
										img.swiper-slide(src='build/images/standard_improved/love-hotel-3.jpg', alt='Love Hotel')
										img.swiper-slide(src='build/images/standard_improved/love-hotel-4.jpg', alt='Love Hotel')

					.row
						.col-xs-12.col-md-6
							.swiper-container.gallery-top.topThree
								.swiper-wrapper
									img.swiper-slide(src='build/images/standart/love-hotel-1.jpg', alt='Love Hotel')
									img.swiper-slide(src='build/images/standart/love-hotel-2.jpg', alt='Love Hotel')
									img.swiper-slide(src='build/images/standart/love-hotel-3.jpg', alt='Love Hotel')
									img.swiper-slide(src='build/images/standart/love-hotel-4.jpg', alt='Love Hotel')

								.swiper-button-prev.swiper-button-white
								.swiper-button-next.swiper-button-white

								.swiper-container.gallery-thumbs.thumbsThree
									.swiper-wrapper
										img.swiper-slide(src='build/images/standart/love-hotel-1.jpg', alt='Love Hotel')
										img.swiper-slide(src='build/images/standart/love-hotel-2.jpg', alt='Love Hotel')
										img.swiper-slide(src='build/images/standart/love-hotel-3.jpg', alt='Love Hotel')
										img.swiper-slide(src='build/images/standart/love-hotel-4.jpg', alt='Love Hotel')
						.col-xs-12.col-md-6
							.description__box.text-justify
								p.h2 СТАНДАРТ
								p.description__text Просторный номер с большой двухспальной кроватью, кондиционером, бесплатным Wi-Fi и мини-кухней с микроволновой печью и холодильником.
								p.description__text Ванная комната укомплектована расширенным набором косметических принадлежностей. Гостям ежедневно предлагаются 2 бутылки минеральной воды.
								p.description__text В стоимость номера входит уборка 1 раз в 3 дня и пользование всем, что находится в номере. Парковка, мини-бар, кухонные принадлежности и др. за дополнительную оплату.
								p.description__text Размещение свыше двух человек обсуждается в индивидуальном порядке.


								p.capacity ВМЕСТИМОСТЬ: 2 человека

								.filling.filling--redRoom
									- var n = 1;
									ul.list-unstyled.list-inline
										while n < 8
											li(class='filling__icon filling__icon--' + n++)
								.row
									.col-xs-5 
										span.filling__price 470 грн/сутки
									.col-xs-7
										.btn.btn-danger.btn-large.btn-block.text-uppercase.js-btn-modal Забронировать номер






		script(src="build/vendor.js")
		script(src="build/app.js")
		script(src="http://localhost:35729/livereload.js?snipver=1")